<template>
	<ul class="right">
		<li><a class="menu-icon" href="/#/Donera" title="Donera"><img src="img/swish_icon.png" style="margin-bottom: 5px"></img> Donera</a></li>
		<li><a class="menu-icon" href="https://www.facebook.com/osterlentracker" title="ÖT på Facebook"><i class="fa fa-facebook-square"></i></a></li>
	</ul>
	<ul class="left">
		<li><a href="/#/"><span class="fa fa-crosshairs"></span> Tracker</a></li>
		<li><a href="/#/Forum"><span class="fa fa-comments"></span> Forum</a></li>
		<li><a href="/#/OmOss"><span class="fa fa-info-circle"></span> Om oss</a></li>
	</ul>
</template>