<div class="tracker">﻿<div class="map" style="height: 500px; background: grey;margin:0px;"></div>
	<div class="hide-for-small">
		<div data-bind="visible: (show_history() === false)">
			<br/>
			<button data-bind="click: fetchSixHours">Hämta sex timmars historik</button>
		</div>
		<div data-bind="visible: show_history() ">
			<br/>
			<table class="controllers">
				<tr>
					<td>Bläddra</td>
					<td><input type="range" data-bind="value: slider" min="0" max="1" step="0.01"/><br/></td>
				</tr>
				<tr>
					<td>Mängd</td>
					<td><input type="range" data-bind="value: length" min="300" max="3600" step="300"/><br/></td>
				</tr>
			</table>
			<table class="values">
				<tr>
					<td style="text-align: right;">
						Totalt antal synliga blixtar mellan <span data-bind="text: visibleBeginDateTime"></span> - <span data-bind="text: visibleEndDateTime"></span>:
					</td>
					<td>
						<span data-bind="text: lightnings"></span><br/>
					</td>
				</tr>
				<tr>
					<td style="text-align: right;">
						Totalt antal blixtar mellan <span data-bind="text: beginDateTime"></span> - <span data-bind="text: endDateTime"></span>:
					</td>
					<td>
						<span data-bind="text: lightningsTotal"></span>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>