<template>
    <!-- Wrapper ------------------------------------------------------------>
    <div class="off-canvas-wrap">
        
        <!-- Sponsors ------------------------------------------------------->
        <div></div>
        
        <!-- Inner Wrapper -------------------------------------------------->
        <div class="inner-wrap">
            
            <!-- Navigation ------------------------------------------------->
            <nav class="tab-bar hide-for-medium-up">
                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
                </section>
                <section class="middle tab-bar-section">
                    <h1 class="title">Österlentracker</h1>
                </section>
                <section class="right-small">
                    <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
                </section>
            </nav>
            
            <!-- Leftside Menu --------------------------------------------->
            <aside class="left-off-canvas-menu">
                <ul class="off-canvas-list">
                    <li data-bind="if: user() !== null">
                        <a data-bind="text: user().nickname"></a></li>
                    <li><label></label></li> 
                    <li data-bind="visible: user() === null">
                        <a href="/login/facebook"><i class="fa fa-sign-in"></i>  Logga in</a></li> 
                    <li><a href="#"><i class="fa fa-crosshairs"></i>  Tracker</a></li>
                    <li><a href="#forums"><i class="fa fa-comments"></i>  Forum</a></li>
                    <li><a href="#about"><i class="fa fa-info-circle"></i>  Om oss</a></li>
                    <li><label></label></li>
                    <li data-bind="visible: (user() !== null)"><a href="#settings"><i class="fa fa-cog"></i>  Inställningar</a></li> 
                    <li data-bind="visible: (user() !== null && user().administrator)"><a href="#administration"><i class="fa fa-sliders"></i>  Administration</a></li> 
                    <li><label></label></li>
                    <li data-bind="visible: user() !== null"><a data-bind="click: logout"><i class="fa fa-sign-out"></i>  Logga ut</a></li>
                </ul>
            </aside>
            
            <!-- Rightside Menu --------------------------------------------->
            <aside class="right-off-canvas-menu">
                <ul class="off-canvas-list social">
                    <li><a href="#chat"><i class="fa fa-comments"></i>  Till chatten</a></li>
                </ul>
                <div data-bind="component: { name: 'social2' }"></div>
            </aside>
            
            <!-- Login|Settings|Logout -------------------------------------->
            <div class="contain-to-grid hide-for-small-only">
                <div data-bind="component: { name: 'loginbar' }"></div>
            </div>
            
            <!-- Header ----------------------------------------------------->
            <header class="hide-for-small-only">
                <img id="logotype" src="img/logga.png" alt="logo" />
            </header>
            
            <div class="contain-to-grid sticky">
                <nav class="top-bar show-for-medium-up" data-topbar role="navigation" data-options="sticky_on: large">
                    <section class="top-bar-section">
                        <ul class="right">
                            <li style="display:none;" data-bind="visible: (user() !== null && user().administrator),css: { 'active': route().page === 'administration' }"><a href="#administration" title="Administration"><i class="fa fa-sliders"></i>  Administration</a></li>
                            <li><a class="menu-icon" route-href="route: donate" title="Donera"><img src="img/swish_icon.png" style="margin-bottom: 5px"></img> Donera</a></li>
                            <li><a class="menu-icon" href="https://www.facebook.com/osterlentracker" title="ÖT på Facebook"><i class="fa fa-facebook-square"></i></a></li>
                        </ul>
                        <ul class="left">
                            <li <a route-href="route: home">Tracker</a></li>
                            <li><a route-href="route: forum">Forum</a></li>
                            <li><a route-href="route: about">Om oss</a></li>
                        </ul>
                            
                    </section>
                </nav>
           </div>
        <section class="main-section">
            <div class="row">
                <div class="large-9 columns">
                    <div id="page1" data-bind="component: { name: route().page, params: route }"><div class="show-for-small" style="text-align: center;"><img src="/img/loading.gif"/></div></div>&nbsp;
                </div>
                <aside class="large-3 columns show-for-medium-up">
                    <div data-bind="if: route().page !== 'chatPage'">
                            <div data-bind="component: { name: 'chat' }"></div>
                    </div>
                    <br />
                    <div data-bind="component: { name: 'social' }"></div>
                </aside>

                <footer class="row hide-for-small">	
                    <hr>
                    <div class="large-6 columns">
                        <p style="margin-left: 10px;">© Österlentracker 2007-2015</p>
                    </div>
                </footer>
        </div>
    </section>
    <a class="exit-off-canvas"></a>
</div>
</div>    
</template>